<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
     <form action="/register" method="post" align="center" enctype="multipart/form-data">
        <div>
            <label>Registor</label><br><br>
            <input type="text" name="fname" placeholder="FullName">
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="runame" placeholder="UserName">
            <input type="password" name="rpword" placeholder="Password">
            <input type="file" name="filename"><br><br>
            <input type="submit" value="Registor">
        </div>
    </form>
</body>
</html>